@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-fileupload-buttonbar {
  justify-content: center;
}

.p-fileupload-content {
  border: 2px solid rgb(94, 129, 172);
  border-radius: 0px;
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dm-sans-heading {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.code { 
  background-color: #E6E6E6;
  padding: 3px 10px 3px 10px; 
  width: auto;
  border-radius: 8px;

  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.app-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Choose button styling */
.choose-button {
  position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(94, 129, 172);
  border: 2px rgb(94, 129, 172) solid;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.15s ease-in;
  -o-transition:      0.15s ease-in;
  -ms-transition:     0.15s ease-in;
  -moz-transition:    0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: rgb(94, 129, 172);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.13s ease-in;
  transition: top 0.13s ease-in;
}

.fill:hover:before {
  top: 0;
}

.clear-button {
  position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(123, 133, 145);
  border: 2px rgb(123, 133, 145) solid;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.15s ease-in;
  -o-transition:      0.15s ease-in;
  -ms-transition:     0.15s ease-in;
  -moz-transition:    0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: rgb(94, 129, 172);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.13s ease-in;
  transition: top 0.13s ease-in;
}

.fill:hover:before {
  top: 0;
}


